*{
    margin:0;
    padding:0;
}

body{
    overflow-x: hidden;
}
.header{
  height:100vh;
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://storage.georgia.travel/images/1200x630/georgia-itb-berlin-host.webp") no-repeat;
  background-size:cover;
  width: 100%;
  background-position: center;
  background-attachment:fixed;
  padding-top:30px;
  text-align:center;
  color:#fff;
}
.nav-link a{
    color: crimson;
}
.nav-item a:hover{
    color: crimson;
}
.navbar{
    width:50%;
background:rgba(0,0,0,0.4);
}
.header img{
    width: 170px;
    float:left;
    margin-top: 30px;

}
.navbar-brand{
    font-weight: 900;
}

.login-btn{
    width:300px;
    padding: 1% 0;
    outline: none !important;
    border-radius:5px;
    background:transparent;
    color:#fff;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
   
    
}
.gallery-box{
    border: 1px black;
}

.header h1{
    padding-top:260px;
    padding-bottom:0px;
    font-size:50px;
}
.header p{
    margin: 2% 23%;
    text-align: justify;
    text-align: center;
    display: flex;
    align-items: center;
}

.input-group{
    width:90% !important;
    max-width:500px;
    border-radius:30px;
    background:#fff;
    margin:auto;
    padding:2px;
}
.form-control{
    border: 0 !important;
    border-radius:30px !important;
    margin:2px;
    box-shadow:none !important;
}
.input-group-text{
    width: 100px;
    background-image:linear-gradient(#00ff7e,#1f3d90);
    border:0 !important;
    color:#fff !important;
    padding:0 25px !important;
    border-radius:30px !important;
    box-shadow:none; 
}
.t{
    font-style: oblique;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}


/* features */
.features{
    padding: 100px 0;
}

h1{
    text-align:center;
    padding-bottom:30px;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feature-img img{
      width: 100%;

}

.price{
    width:50px;
    height:50px;
    background:#ff5722;
    color:#fff;
    font-weight:600;
    border-radius:50%;
    padding:10px;
    box-shadow:0 0 10px 1px rgba(37,73,214,0.18);
    position:absolute;
    left:20px;
    bottom:-25px;
}
.feature-img{
    position:relative;
    transition:1s;

}
.feature-img:hover{
    transform:scale(1.1);

}
.rating{
    padding:3px;
    float:right;
    background:#fff;
    bottom:-1px;
    right:0;
    position:absolute;
}

.features .fa{
    font-size:15px;
    color:#ff5722;
}

.feature-details{
    padding:20px;
    text-align:justify;
}
.feature-details h4{
    font-weight:600%;
    margin-top:20px;
}

.feature-details .fa{
    margin-right:5px;

}
.feature-box{
    box-shadow:0 0 10px 1px rgba(37,73,214,0.18);
    margin-bottom:30px;
}

.gallery{
    padding:100px 0;
    background: #efefef;
}

.gallery-box img{
    width:100%;
    border-radius:16px;
    cursor:pointer;
    transition:1s;
}
.gallery-box img:hover{
    transform:scale(1.1);
}


.gallery-box h4{
    display:block;
    color:#fff;
    text-shadow:-2px 2px 2px #000;
    font-weight:600%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.gallery-box{
    position:relative;
    margin-bottom:30px;
}
.font_icon{
    float: right;
}

.banner{
    height:80vh;
    background-image:url();
    background-position: center;
    background-size:cover;
    background-attachment:fixed;
    padding-top:7%;
}

.banner-highlights{
    padding: 70px 0%;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://storage.georgia.travel/images/georgian-wineyard-kakheti.webp") ;
    height: 200%;
    text-align:center;
    color:#fff;

}
.banner_img{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("https://georgia.travel/images/banner-skyscanner.jpg") ;

}
.booking-btn{
    width:120px;
    padding:8px 0;
    outline:none !important;
    border:2px solid #fff;
    border-radius:50px;
    background:transparent;
    color:#fff;
    margin-top:20px;
}
.rounded{
    border-radius: 3%;
}
 .wine{
    background-color: crimson;
    border: hidden;
}

.users-feedback{
    padding:100px 0;
    background-image: url('https://birdeye.com/blog/wp-content/uploads/12-travel-review-sites-you-need-to-know-in-2022.png');
}
.user-review{
    text-align:center;
    box-shadow:0 0 10px 0 rgba(0,0,100,0.2);
    padding-bottom:50px;
}

body{
    overflow-x: hidden;
}
.user-review p{
    padding: 50px 10px 10px 10px;
}
.users-feedback img{
    width:60px;
    height:60px;
     border-radius:50%; 
    position:relative;
    margin: -30px 0 20px 40%;
}
.user-review p::before{
    content: '\201d';
    display:block;
    position:absolute;
    font-size:100px;
    color:#649fed;
    font-family:sans-serif;
    left:44%;
    top:-20px;
   
}

.taste{
    
    padding-left: 4%;
}
.food{
    background-color: #fff;
    color: crimson;
  border: 1px solid;

}
.food:hover{
    background-color: crimson;
    color: white;
}
.taste-img{
    transition: 1.1s ease-out ;
}
.taste-img img{
    box-shadow:0 0 10px 1px rgba(10, 10, 11, 0.18);

}
.taste{
    background-image: url('https://cdn.pixabay.com/photo/2020/03/25/21/05/pizza-4968645_640.jpg');
    background-repeat: no-repeat;
    border-radius: 1%;
    background-size: cover;
    width: 100%;   
}
.taste-img:hover img{
    transform: scale(1.1);
    filter: brightness(0.6);
   

}
.love{
    margin-top:10%;
    gap:2%;
    background-color:#2d557d;
}
.love-row img{
    box-shadow:0 0 10px 1px rgba(300, 500, 400, 400);

}
.footer{
    padding:100px 20px 15px;
/*     background-image:linear-gradient(#2d557d,#9610fd);
 */    
 background-color:brown;
 color:#fff;

}
.footer-logo{
     width:150px;
     margin-top:15px;
     margin-bottom:15px;
}
.footer h4{
    text-align:left;
    margin-top:15px;
    margin-bottom:25px;

}


.icon p:hover{
    text-decoration: none;
}
.footer p{
    font-size:12px;
    text-align:justify;
    padding-right:35px;
    text-decoration: none;
    cursor:pointer;

}

.footer .row .fa{
    padding-right:20px;
    font-size:15px;

}
.footer hr{
    margin-top:10px;
    background:#efefef;
}

.fa-heart{
    margin:0 5px;
    color:#f44336;
}
.footer .copyright{
    text-align:center;
}